@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
  color: black;
  background: #202025;
}

.content {
  width: 396px;
  height: 190px;
  background: #f0f0f0;
  overflow-y: auto;
  padding: 0;
}

.wrapper {
  padding: 10px;
  width: 668px;
  height: 432px;
  transform: scale(0.5);
  transform-origin: top left;
  background: transparent;
}

.annotation {
  transition: all 0.5s ease-in-out;
  box-shadow: inset 0 0 0 0.09px white;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 4px;
  font-weight: 300;
  background: indianred;
  color: white;
  padding: 2px 4px;
  border-radius: 20px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.annotation:hover {
  box-shadow: inset 250px 0 0 0 white;
  color: black;
}